<div class="card mx-auto">
  <div class="card-body">
    <h5 class="card-title">Weather for {{ displayCity }}</h5>
    <hr style="border: 0.5px solid #f29100;">
    <div class="container">
      <h5>CURRENT CONDITIONS</h5>
      <h3 id="displayTemp">{{ displayTemperature }}&#176;</h3>
      <h6 id="tempMaxMin">{{ displayTempMax }}&#176; &#47; {{ displayTempMin }}&#176;</h6>
      <div class="row">
        <div class="col-md-8" style="padding-top: 1rem;">
          <p id="firstText">Feels like: <span>{{ displayFeelsLike }}&#176;</span></p>
          <p>Humidity: <span>{{ displayHumidity }}%</span></p>
          <p>Wind: <span>{{ displayWindSpeed }}kmh {{ displayWindDeg }}&#176;</span></p>
          <p>Sunrise: <span>{{ displaySunrise }}</span></p>
          <p>Sunset: <span>{{ displaySunset }}</span></p>
        </div>
        <div class="col-md-4" id="iconCol" >
          <img class="align-self-center" id="weatherIcon" src={{displayIcon}} alt="Weather icon" style="padding: 0; margin: 0;">
          <h5 style="padding: 0; margin: 0;">{{ displayWeather }}</h5>
          <p class="card-text" style="line-height: normal; padding: 0; margin: 0;">({{ displayDescription }})</p>
        </div>
      </div>


      
    </div>
  </div>
</div>