<div class="card mx-auto">
    <div class="card-body">
        <h5 class="card-title">Currency Rates</h5>
        <hr style="border: 0.5px solid #f29100;">
        <table>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ usd }}</td>
                <td class="currencyText">USD</td>
            </tr>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ jpy }}</td>
                <td class="currencyText">JPY</td>
            </tr>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ gbp }}</td>
                <td class="currencyText">GBP</td>
            </tr>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ aud }}</td>
                <td class="currencyText">AUD</td>
            </tr>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ cad }}</td>
                <td class="currencyText">CAD</td>
            </tr>
            <tr>
                <td class="currencyText">1 EURO = </td>
                <td class="currency"> {{ chf }}</td>
                <td class="currencyText">CHF</td>
            </tr>
        </table>
    </div>
</div>