.card {
    width:28rem;
    height:25rem;
    border: 1px solid #f29100;
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: thick;          /* "auto" or "thin" */
    scrollbar-color: #f29100 gray;   /* scroll thumb and track */
    text-align: left;
    background-color: #232324;
}

h5, h4 {
    color: #f29100 ;
    font-size: small;
    font-family: Depot;
}

p {
    color: white;
    font-size: smaller;
    font-weight: 300;

}

h5 {
    color: #f29100 ;
    font-weight: 600;
    font-size: x-large;
}