<div class="card mx-auto">
    <div class="card-body">
      <h5 class="card-title">Total News Stories from {{ countryCode }} : {{ newsCount }}</h5>
      <hr style="border: 0.5px solid #f29100;">
      <div class="container" *ngFor="let news of newsArray">
        <a href={{news.url}} target="_blank" rel="noopener noreferrer"><h4>{{ news.title }}</h4></a>
        <a href={{news.url}} target="_blank" rel="noopener noreferrer"><p>{{ news.description }}</p></a>
        <hr style="border: 0.5px dotted rgba(255, 255, 255, 0.3);">
      </div>
    </div>
  </div>
