<div class="container-fluid pt-4" style="background-color: #232324;">
    <div class="row" style="height: 45vh;">
        <div class="col-sm-6 pt-3 rounded-lg d-flex flex-column">
            <img class="align-self-center m-5" src="assets/logo.png" id="logo" alt="All in One Logo">
            <app-date class="align-self-center m-5"></app-date>
        </div>
        <div class="col-sm-6 pt-3 rounded-lg" >
            <h1>My First Bootstrap Page</h1>
            <p>This part is inside a .container class.</p>
            <p>The .container class provides a responsive fixed width container.</p>
            <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.</p>
        </div>
    </div>
    <div class="row" style="height: 45vh;">
        <div class="col-sm-3 pt-3 rounded-lg">
            <app-weather ></app-weather>
        </div>
        <div class="col-sm-3 pt-3 rounded-lg">
            <app-news></app-news>
        </div>
        <div class="col-sm-3 pt-3 rounded-lg">
            <app-currency></app-currency>
        </div>
        <div class="col-sm-3 pt-3 rounded-lg">
            <h1>My First Bootstrap Page</h1>
            <p>This part is inside a .container class.</p>
            <p>The .container class provides a responsive fixed width container.</p>
            <p>Resize the browser window to see that its width (max-width) will change at different breakpoints.</p>
        </div>
    </div>
</div>